---
import Layout from '../layouts/Layout.astro';
import JobItem from '../components/JobItem.astro';

import { Image } from 'astro:assets';

import { BriefcaseBusiness, Laptop, SquareUser, SquareCheckBig } from '@lucide/astro';

import myPicture from '../assets/me.jpg'
---

<Layout>
	<section class="h-screen flex flex-col justify-center">
		<span class="text-accent text-lg font-mono mb-4">Hi, my name is</span>
		<h1>Rabii<br class="block md:hidden"> Bouhestine.</h1>
		<span class="title text-light-2 mb-6">I build things<br class="block md:hidden"> for the web.</span>
		<p class="max-w-2xl mb-10">
			I’m a software engineer specializing in building (and occasionally designing) exceptional digital experiences.
			Currently, I’m focused on building accessible, human-centered products at Upstatement.
		</p>
		<a class="font-mono border-1 border-accent rounded-lg px-6 py-3 w-fit text-accent hover:text-dark-1 hover:bg-accent transition-all duration-300 ease-in-out">Check out my resume!</a>
	</section>
	<section>
		<div class="flex gap-2 items-center mb-12">
			<SquareUser size="32" stroke-width={1} class="text-accent"/>
			<h2>About Me</h2>
			<div class="flex-1 ml-2 border-t-1 border-dark-3"></div>
		</div>
		<div class="flex flex-col lg:flex-row gap-16">
			<div class="flex flex-col gap-4">
				<p>
					Hello! My name is Brittany and I enjoy creating things that live on the internet.
					My interest in web development started back in 2012 when I decided to try editing custom
					Tumblr themes — turns out hacking together a custom reblog button taught me a lot about HTML & CSS!
				</p>
				<p>
					Fast-forward to today, and I’ve had the privilege of working at an advertising agency,
					a start-up, a huge corporation, and a student-led design studio.
					My main focus these days is building accessible, inclusive products and digital experiences
					at Upstatement for a variety of clients.
				</p>
				<p>
					I also recently launched a course that covers everything you need to build a
					web app with the Spotify API using Node & React.
				</p>
				<p>
					Here are a few technologies I’ve been working with recently:
				</p>
				<div class="grid grid-cols-3 gap-2">
					<div class="flex items-center gap-2">
						<SquareCheckBig stroke-width={1} class="text-accent"/>
						<p>Javascript</p>
					</div>
					<div class="flex items-center gap-2">
						<SquareCheckBig stroke-width={1} class="text-accent"/>
						<p>Javascript</p>
					</div>
					<div class="flex items-center gap-2">
						<SquareCheckBig stroke-width={1} class="text-accent"/>
						<p>Javascript</p>
					</div>
					<div class="flex items-center gap-2">
						<SquareCheckBig stroke-width={1} class="text-accent"/>
						<p>Javascript</p>
					</div>
					<div class="flex items-center gap-2">
						<SquareCheckBig stroke-width={1} class="text-accent"/>
						<p>Javascript</p>
					</div>
					<div class="flex items-center gap-2">
						<SquareCheckBig stroke-width={1} class="text-accent"/>
						<p>Javascript</p>
					</div>
				</div>
			</div>
			<div class="relative inline-block group self-center lg:self-auto">
				<div class="bg-accent z-10 w-[300px] rounded-lg overflow-hidden transition-transform duration-300 ease-in-out -translate-x-[10px] -translate-y-[10px] group-hover:translate-x-0 group-hover:translate-y-0">
					<Image
						src={myPicture}
						alt="Rabii Bouhestine"
						layout="constrained"
						class="relative w-full object-cover mix-blend-multiply transition duration-300 ease-in-out group-hover:mix-blend-normal"
					/>
				</div>
				<div class="-z-10 absolute top-0 left-0 w-[300px] h-full border-2 border-accent rounded-lg translate-x-[10px] translate-y-[10px] transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:translate-y-0" />
			</div>
		</div>
	</section>
	<section class="mt-40">
		<div class="flex gap-2 items-center mb-12">
			<BriefcaseBusiness size="32" stroke-width={1} class="text-accent"/>
			<h2>Where I've Worked</h2>
			<div class="flex-1 ml-2 border-t-1 border-dark-3"></div>
		</div>
		<div class="flex flex-col gap-8">
			<JobItem
				role="Frontend Developer"
				company="Appsilon"
				link="https://www.appsilon.com/"
				start="Nov 2020"
				end="Present"
				tasks={[
					"Collaborated with stakeholders across pharma, finance, and public sectors to design and deliver scalable, user-friendly web applications, improving decision-making workflows and user adoption.",
					"Developed responsive interfaces and optimized app performance through modern frontend tools and best practices, ensuring maintainability and efficiency."
				]}
			/>
			<JobItem
				role="Frontend Developer"
				company="Splio"
				link="https://www.splio.com/"
				start="Jul 2018"
				end="Oct 2020"
				tasks={[
					"Partnered with stakeholders in the telecommunications sector to design and deliver a large-scale Business Intelligence platform with interactive dashboards, enabling data-driven decision-making.",
					"Collaborated with cross-functional teams to analyze customer behavior, present insights, and streamline reporting workflows through automation, improving efficiency and business outcomes."
				]}
			/>
			<JobItem
				role="Software Engineer"
				company="PwC France"
				link="https://www.pwc.fr/"
				start="Jan 2018"
				end="Jun 2018"
				tasks={[
					"Built a data-driven application that collected and transformed large-scale sports data into feature-rich datasets, enabling predictive analytics.",
					"Developed and deployed machine learning models to forecast outcomes with high accuracy, supporting informed decision-making for stakeholders."
				]}
			/>
		</div>
	</section>
	<section class="mt-40">
		<div class="flex gap-2 items-center mb-12">
			<Laptop size="32" stroke-width={1} class="text-accent"/>
			<h2>Some Things I’ve Built</h2>
			<div class="flex-1 ml-2 border-t-1 border-dark-3"></div>
		</div>

		<div class="grid grid-cols-12 items-center relative">	
			<div class="col-span-6 z-10 relative">
				<Image
					src={myPicture}
					alt="Rabii Bouhestine"
					layout="constrained"
					class="relative w-full object-cover"
				/>
			</div>		
			<div class="flex flex-col items-end col-start-6 col-span-7 z-20 relative">
				<span class="text-accent">Featured Project</span>
				<h3>Play Card Games</h3>
				<p class="bg-dark-2 rounded px-8 py-4 text-right max-w-xl my-3">
					A minimal, dark blue theme for VS Code, Sublime Text, Atom, iTerm, and more.
					Available on Visual Studio Marketplace, Package Control, Atom Package Manager, and npm.
				</p>
				<div class="flex gap-8 font-mono">
					<p>VS Code</p>
					<p>Sublime Text</p>
					<p>Atom</p>
					<p>Hyper</p>
				</div>
				<div class="flex gap-3 mt-2">
					<Laptop size="24" stroke-width={1} class="text-light-2"/>
					<Laptop size="24" stroke-width={1} class="text-light-2"/>
				</div>
			</div>
		</div>

	</section>

	<div class="mt-80"></div>
</Layout>
