---
import { Send } from '@lucide/astro';
---

<section class="h-[calc(100vh-64px)] flex flex-col items-center text-center justify-center">
  <span class="text-accent text-lg font-mono mb-4">Hi, my name is</span>
  <h1>Rabii Bouhestine</h1>
  <div class="title text-light-2 mt-2 mb-6 flex flex-wrap items-center justify-center">
    <span>I build things&nbsp;</span>
    <span>for the web</span>
  </div>
  <p class="max-w-2xl mb-10">
    I am a Software Engineer specialising in Frontend Development with 7+ years of experience in building web apps. I have had the opportunity of collaborating with diverse businesses, companies, and agencies worldwide since 2018.
  </p>
  <a href="mailto:rabiibouhestine@gmail.com" class="flex items-center gap-3 font-mono border-1 border-accent rounded-lg px-6 py-3 w-fit text-accent hover:text-dark-1 hover:bg-accent transition-all duration-300 ease-in-out">
    <Send/>
    Get in touch!
  </a>
</section>
