---
import ProjectCard from '../components/ProjectCard.astro';
import { Laptop } from '@lucide/astro';

import gamelists from '../assets/gamelists.png';
import githubprofilemaker from '../assets/githubprofilemaker.png';
import playcardgames from '../assets/playcardgames.png';
import maxdaysoff from '../assets/maxdaysoff.png';
---

<section id="projects" class="pt-12 mt-6">
  <div class="flex gap-2 items-center mb-12">
    <Laptop size="32" stroke-width={1} class="text-accent"/>
    <h2>Some Things I’ve Built</h2>
    <div class="flex-1 ml-2 border-t-1 border-dark-3"></div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <ProjectCard
      image={playcardgames}
      name="PlayCardGames"
      title="Online Card Games"
      description="Engaging thematic solitaire card games that can be played with standard playing cards."
      github="https://github.com/rabiibouhestine/playcardsgames"
      website="https://solo-card-games.netlify.app/"
      skills={["PixiJS", "Sveltekit", "Svelte"]}
    />
    <ProjectCard
      image={gamelists}
      name="GameLists"
      title="Video Games Lists"
      description="Social gaming platform where users can create, share and comment on video games lists."
      github="https://github.com/rabiibouhestine/gamelists"
      website="https://game-lists.netlify.app/"
      skills={["IGDB API", "Next.js", "Supabase", "Tailwind"]}
    />
    <ProjectCard
      image={githubprofilemaker}
      name="GithubProfileMaker"
      title="Github Profile Readme Maker"
      description="A minimal readme maker that allows users to easily create a Github profile readme file using sections."
      github="https://github.com/rabiibouhestine/github-profile-maker"
      website="https://github-profile-maker.netlify.app/"
      skills={["React", "Vite", "Typescript", "Tailwind"]}
    />
    <ProjectCard
      image={maxdaysoff}
      name="MaxDaysOff"
      title="Time Off Maximiser"
      description="A holiday optimizer that intelligently assigns PTO around weekends and public holidays."
      github="https://github.com/rabiibouhestine/max-days-off"
      website="https://maxdaysoff.netlify.app/"
      skills={["React", "Vite", "Typescript", "CSS modules"]}
    />
  </div>
</section>
